[Unit]
Description=Security monitor for authentication attempts using su and sudo.
After=systemd-journald.service network.target

[Service]
Type=simple
ExecStart=/usr/bin/auth-inspector
Restart=always

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
